/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.cid-sOXcLCVPp1 {
    min-height: 150px;
}

i {
    margin: 0 5px;
    padding: 2px;
    font-size: 19px;
}


/* FONTS _____________ */


/* CATALOGUE _______________*/


.catalogue .products {
}


/* PRODUCT DETAIL ______________*/

body {
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }

        .preview-thumbnail.nav-tabs li img {
            max-width: 100%;
            display: block;
        }

        .preview-thumbnail.nav-tabs li a {
            padding: 0;
            margin: 0;
        }

        .preview-thumbnail.nav-tabs li:last-of-type {
            margin-right: 0;
        }

.tab-content {
    overflow: hidden;
}

    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

.card {
    margin-top: 50px;
    line-height: 1.5em;
}

p.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

    .checked, .price span {
        color: #ff9f1a;
    }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

    .size:first-of-type {
        margin-left: 40px;
    }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

    .color:first-of-type {
        margin-left: 20px;
    }

.add-to-cart, .like {
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff;
    }

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.stock .beschikbaar {
    color: limegreen;
}

.stock .niet-beschikbaar {
    color: red;
}

.stock {
    padding: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    margin-bottom: 10px;
}


/*______ ACCOUNT GENERAL CSS */

.navbar-nav.account .nav-link {
    white-space: nowrap
}

/*_____________ ACCOUNT ORDER OVERVIEW*/
.row.headers > div {
    border: 1px solid black;
}

.row.headers {
    font-size: 1em;
    border-bottom: 2px solid black;
    margin: 20px 0;
}

.uitleningen .content {
    border-bottom: 1px solid black;
    padding: 15px 0px;
}



.user-management .headers {
    background: aliceblue;
    margin: 15px 0;
    padding: 15px;
    font-weight: 700;
}

    .user-management .headers > div {
        text-transform: uppercase;
    }

.user-management .bodycontent {
    margin: 15px 0;
    padding: 15px;
}


/* SLIDER AND INPUT ( TOGGLED ) */

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating, .loading > i {
    /*display: inline-block !important;*/
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

    /*.loading::before { content: '\f1ce'; animation: rotation 2s infinite linear; transform: rotate(34deg); }*/
    .loading > i::before {
        content: '\f1ce';
    }

.loading {
    position: relative;
}

    .loading::before {
        background: #dee2e6;
        opacity: 0.5;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .loading::after {
        content: "\f1ce";
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        font-size: 30px;
        position: absolute;
        left: calc(50% - 15px);
        top: calc(50% - 22px);
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
    }

    .loading.loading-no-after::after {
        content: '';
    }

#pre-loader {
    background-color: #FFF;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
}

.switch {
    position: relative;
    width: 50px;
    height: 25px;
    margin-bottom: 0;
    float: right;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

input + .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

    input + .slider:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 0px;
        bottom: 0px;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        border: 2px solid #d3d3d3;
    }

input:checked + .slider {
    background-color: var(--main-light);
}

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

input:focus {
    outline: none;
}

    input:focus + .slider {
        box-shadow: 0 0 1px #ccc;
    }

.slider.round {
    border-radius: 34px;
    border: 1px solid #d3d3d3;
}

    .slider.round:before {
        border-radius: 50%;
        border: 1px solid #d3d3d3;
    }

.table .delete {
    text-align: center;
    vertical-align: middle;
}

.delete i { color: black; }

.admin-wrapper ul li {
    margin: 0 5px;
    border-radius: 10px;
    padding: 35px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.admin-wrapper ul {
    display: flex;
    justify-content: center;
    list-style: none;
}