
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-wrapper">
    <ul class="navbar-nav d-flex align-items-center">
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-controller="Category" asp-action="Index" title="Category">
                <i class="fa-solid fa-sitemap"></i>
                Category manager
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-controller="Product" asp-action="Index" title="Product">
                <i class="fa-solid fa-sitemap"></i>
                Product manager
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-controller="Magazijn" asp-action="Index" title="Magazijn">
                <i class="fa-solid fa-sitemap"></i>
                Magazijn manager
            </a>
        </li>
    </ul>
</div>

