
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-wrapper">
    <ul class="navbar-nav d-flex align-items-center">
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-controller="Category" asp-action="Index" title="Category">
                <i class="fa-solid fa-sitemap"></i>
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-page="/Category/Index" title="Category">
                <i class="fa-solid fa-sitemap"></i>
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-page="/Category/Index" title="Category">
                <i class="fa-solid fa-sitemap"></i>
            </a>
        </li>
        <li>
            <a class="nav-link btn btn-light px-2 py-1" asp-area="Admin" asp-page="/Category/Index" title="Category">
                <i class="fa-solid fa-sitemap"></i>
            </a>
        </li>
    </ul>
</div>

