@model WebApplication_Uitleendienst.UitleenbaarItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eenheid" class="control-label"></label>
                <input asp-for="Eenheid" class="form-control" />
                <span asp-validation-for="Eenheid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Periode</label>
                <input asp-for="Periode" class="form-control" />
                <span asp-validation-for="Periode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categorie</label>
                <select asp-for="CategorieId">
                    @foreach (var value in Model.Categories) {
                        <option value="@value.Id">@value.Naam - @value.Id</option>
                    }
                </select>
                <span asp-validation-for="CategorieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

