@using WebApplication_Uitleendienst.Models.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel
@if (User.Identity.IsAuthenticated) {
    <p>Name: </p>@Model.UserInfo.Name
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
