@using WebApplication_Uitleendienst.Models.ViewModels

@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="homepage-wrapper container">
    <div class="header">
        <h2 class="display-6">Categories</h2>
    </div>
    <div class="categories row">      
        @foreach (var categorie in Model.Categories) {
        <vc:categorie categorie="categorie"></vc:categorie>
        }
    </div>
</div>
