@model WebApplication_Uitleendienst.Models.ViewModels.Catalogue.CatalogueViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row catalogue">
        <div class="col-12 col-md-2 filter">
            <!-- Filters -->
            <h2>FILTER</h2>
            <hr />
            <h6>Category</h6>
            @foreach (var cat in Model.Categories) {
                <p>
                    <input type="checkbox" name="@cat.Naam" onclick="alert('TODO/Some Event')" />
                    @cat.Naam
                </p>
            }
        </div>
        <div class="col-12 col-md-10 products">
            <!-- Catalogue -->
            <div class="row">
                @foreach (var product in Model.Products) {
                    @await Component.InvokeAsync("Catalogue", new { beschikbaarItem = product });
                }
            </div>
        </div>
    </div>

</div>

