@model WebApplication_Uitleendienst.Models.ViewModels.Catalogue.CatalogueViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("Message", @Model)


<div class="container catalogue-wrapper">
    <div class="row catalogue">
        <div class="col-12 col-md-2 filter">
            <!-- Filters -->
            <h2>FILTER</h2>
            <hr />
            <h6>Category</h6>
            <form method="GET" id="formFilters">
                @if (Model.Categories != null) {
                    @foreach (var cat in Model.Categories) {
                        <p>
                            <input @(Model.SelectedCategories.Any(c => c.Id == cat.Id) ? "checked=checked" : "")  type="checkbox" value="@cat.Id" name="categorie" />
                            @cat.Naam
                        </p>
                    }
                }
            </form>
        </div>
        <div class="col-12 col-md-10 products">
            <!-- Catalogue -->
            <div class="row">
                @if (Model.Products != null) {
                    @foreach (var product in Model.Products) {
                        @await Component.InvokeAsync("Catalogue", new { uitleenbaarItem = product });
                    }
                } else {
                    <h6>Er zijn geen producten gevonden.</h6>
                }
            </div>

        </div>
    </div>

</div>

